In [1]:
import pandas as pd
df=pd.read_csv('heart_failure_clinical_records_dataset.csv')

In [2]:
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

1. What is the distribution of age among heart failure patients in the dataset?

In [3]:
age_dist = df['age'].value_counts()

In [4]:
age_dist

60.000    33
50.000    27
65.000    26
70.000    25
45.000    19
55.000    17
75.000    11
53.000    10
58.000    10
63.000     8
80.000     7
72.000     7
40.000     7
42.000     7
85.000     6
68.000     5
52.000     5
62.000     5
51.000     4
59.000     4
61.000     4
73.000     4
49.000     4
69.000     3
46.000     3
64.000     3
82.000     3
90.000     3
78.000     2
60.667     2
54.000     2
77.000     2
57.000     2
66.000     2
44.000     2
67.000     2
95.000     2
48.000     2
43.000     1
86.000     1
81.000     1
79.000     1
41.000     1
94.000     1
87.000     1
47.000     1
56.000     1
Name: age, dtype: int64

2. How does the death rate vary with age?

In [5]:
age_groups = pd.cut(df['age'], bins=[0, 18, 30, 40, 50, 60, 70, 80, 90, 100], right=False)

# Calculating the total number of deaths and total number of individuals in each age group
death_rate_data = df.groupby(age_groups)['DEATH_EVENT'].agg(['sum', 'count'])

# Computing the death rate (deaths per individual) for each age group
death_rate_data['DEATH_EVENT'] = death_rate_data['sum'] / death_rate_data['count']

# Displaying the death rate data
print(death_rate_data)

           sum  count  DEATH_EVENT
age
[0, 18)      0      0          NaN
[18, 30)     0      0          NaN
[30, 40)     0      0          NaN
[40, 50)    11     47     0.234043
[50, 60)    20     82     0.243902
[60, 70)    27     93     0.290323
[70, 80)    20     52     0.384615
[80, 90)    13     19     0.684211
[90, 100)    5      6     0.833333

3. What is the percentage of male and female patients in the dataset?

In [34]:
male_count = (df['sex'] == 1).sum()
female_count = (df['sex'] == 0).sum()
total_patients = len(df)
male_percentage = (male_count / total_patients) * 100
female_percentage = (female_count / total_patients) * 100

In [35]:
male_percentage

64.88294314381271

In [36]:
female_percentage

35.11705685618729

4. How does the platelet count vary among different age groups?

In [37]:
age_bins = [0, 18, 30, 40, 50, 60, 70, 80, 90, 100]
age_labels = ['0-18', '19-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91-100']

# Cut the data into age groups
df['age_group'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

# Group by age group and calculate mean platelet count
platelet_by_age = df.groupby('age_group')['platelets'].mean()

print(platelet_by_age)

age_group
0-18                NaN
19-30               NaN
31-40               NaN
41-50     285931.705319
51-60     265001.807073
61-70     248990.840645
71-80     267036.349038
81-90     252248.213684
91-100    290059.671667
Name: platelets, dtype: float64

 5. Is there a correlation between creatinine and sodium levels in the blood?

In [38]:
correlation = df['serum_creatinine'].corr(df['serum_sodium'])
print(correlation)

-0.1890952100911741

6. How does the prevalence of high blood pressure differ between male and female patients?

In [39]:
gender_hbp_proportion = df.groupby('sex')['high_blood_pressure'].mean()

print("Proportion of patients with high blood pressure by gender:")
print(gender_hbp_proportion)

Proportion of patients with high blood pressure by gender:
sex
0    0.419048
1    0.314433
Name: high_blood_pressure, dtype: float64

7. What is the relationship between smoking habits and the occurrence of heart failure?

In [46]:
heart_failure_by_smoking = df.groupby('smoking')['DEATH_EVENT'].mean()

# Print the occurrence rates
print("Occurrence of heart failure by smoking status:")
print(heart_failure_by_smoking)

Occurrence of heart failure by smoking status:
smoking
0    0.325123
1    0.312500
Name: DEATH_EVENT, dtype: float64

8. Are there any noticeable patterns in the distribution of death events across different age groups?

In [47]:
df['age_group'] = pd.cut(df['age'], bins=[0, 18, 30, 40, 50, 60, 70, 80, 90, 100], labels=['0-18', '19-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91-100'])

# Create a cross-tabulation of age groups and death events
cross_tab = pd.crosstab(df['age_group'], df['DEATH_EVENT'])

print("Cross-tabulation of age groups and death events:")
print(cross_tab)

Cross-tabulation of age groups and death events:
DEATH_EVENT   0   1
age_group
31-40         7   0
41-50        48  19
51-60        63  25
61-70        64  21
71-80        16  18
81-90         5  10
91-100        0   3

9. Is there any significant difference in ejection fraction between patients with and without diabetes?

In [48]:
from scipy.stats import ttest_ind

# Assuming 'ejection_fraction' is the column containing ejection fraction information
# 'diabetes' is the column containing diabetes information (1 for patients with diabetes, 0 for patients without diabetes)

# Separate data into two groups: patients with and without diabetes
ejection_fraction_diabetes = df[df['diabetes'] == 1]['ejection_fraction']
ejection_fraction_no_diabetes = df[df['diabetes'] == 0]['ejection_fraction']

# Perform the t-test
t_stat, p_value = ttest_ind(ejection_fraction_diabetes, ejection_fraction_no_diabetes)

# Define significance level (alpha)
alpha = 0.05

# Compare p-value to alpha to determine significance
if p_value < alpha:
    print("There is a significant difference in ejection fraction between patients with and without diabetes.")
else:
    print("There is no significant difference in ejection fraction between patients with and without diabetes.")

There is no significant difference in ejection fraction between patients with and without diabetes.

10. How does the serum creatinine level vary between patients who survived and those who did not?

In [50]:
creatinine_survived = df[df['DEATH_EVENT'] == 0]['serum_creatinine']
creatinine_not_survived = df[df['DEATH_EVENT'] == 1]['serum_creatinine']

# Calculate summary statistics for each group
summary_survived = creatinine_survived.describe()
summary_not_survived = creatinine_not_survived.describe()
print("Summary statistics for serum creatinine levels of patients who survived:")

print(summary_survived)

print(summary_not_survived)

count    203.000000
mean       1.184877
std        0.654083
min        0.500000
25%        0.900000
50%        1.000000
75%        1.200000
max        6.100000
Name: serum_creatinine, dtype: float64
count    96.000000
mean      1.835833
std       1.468562
min       0.600000
25%       1.075000
50%       1.300000
75%       1.900000
max       9.400000
Name: serum_creatinine, dtype: float64